*.log
*.xcuserstate
*.db
*.db1
*.db2
*.db3
*.db4
temp.js
newrelic.js
Credentials.js
Credentials.java
Credentials.py
Credentials.swift
Credentials.db
Credentials.sql
Versions.db
GitIgnore/
licensed/
platforms/
StaticRoot/
certificates/
Validation/output/
node_modules/
xcdebugger/
com-shortsands-videoplayer/
*.framework
### Swift Xcode ###
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
